@font-face {
    font-family: 'weather';
    src: url('artill_clean_icons-webfont.eot');
    src: url('artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
        url('artill_clean_icons-webfont.woff') format('woff'),
        url('artill_clean_icons-webfont.ttf') format('truetype'),
        url('artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'B612 Mono', monospace;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.view-wrapper {
    background-color: black;
    color: #fff;
    cursor: none;
    height: 1280px;
    overflow: hidden;
    position: relative;
    width: 800px;
}

.clock {
    font-size: 120px;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.weather {
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 220px;
    top: 240px;
    width: 360px;
}

.current-weather-wrapper {
    font-size: 80px;
    text-align: left;
}

.current-weather-wrapper span {
    float: right;
}

.current-weather-wrapper i {
    position: relative;
    top: -20px;
}

i {
    color: #fff;
    font-family: weather;
    font-size: 130px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}

.foreacasts-wrapper {
    position: relative;
    top: -20px;
}

.foreacast-weather-wrapper {
    font-size: 25px;
}

.foreacasts-wrapper i {
    font-size: 80px;
}

.foreacast-wrapper {
    display: inline-block;
    width: 20%;
}

.icon-tornado:before {
    content: ":";
}

.icon-tropical-storm:before {
    content: "p";
}

.icon-hurricane:before {
    content: "S";
}

.icon-severe-thunderstorms:before {
    content: "Q";
}

.icon-thunderstorms:before {
    content: "S";
}

.icon-mixed-rain-and-snow:before {
    content: "W";
}

.icon-mixed-rain-and-sleet:before {
    content: "W";
}

.icon-mixed-snow-and-sleet:before {
    content: "W";
}

.icon-freezing-drizzle:before {
    content: "W";
}

.icon-drizzle:before {
    content: "I";
}

.icon-freezing-rain:before {
    content: "W";
}

.icon-showers:before {
    content: "I";
}

.icon-showers:before {
    content: "I";
}

.icon-snow-flurries:before {
    content: "I";
}

.icon-light-snow-showers:before {
    content: "I";
}

.icon-blowing-snow:before {
    content: "W";
}

.icon-snow:before {
    content: "I";
}

.icon-hail:before {
    content: "W";
}

.icon-sleet:before {
    content: "U";
}

.icon-dust:before {
    content: "Z";
}

.icon-foggy:before {
    content: "Z";
}

.icon-haze:before {
    content: "Z";
}

.icon-smoky:before {
    content: "Z";
}

.icon-blustery:before {
    content: "Z";
}

.icon-windy:before {
    content: "E";
}

.icon-cold:before {
    content: "E";
}

.icon-cloudy:before {
    content: "3";
}

.icon-mostly-cloudy-night:before {
    content: "a";
}

.icon-mostly-cloudy-day:before {
    content: "A";
}

.icon-partly-cloudy-night:before {
    content: "a";
}

.icon-partly-cloudy-day:before {
    content: "A";
}

.icon-clear-night:before {
    content: "6";
}

.icon-sunny:before {
    content: "1";
}

.icon-fair-night:before {
    content: "6";
}

.icon-fair-day:before {
    content: "1";
}

.icon-mixed-rain-and-hail:before {
    content: "W";
}

.icon-hot:before {
    content: "1";
}

.icon-isolated-thunderstorms:before {
    content: "S";
}

.icon-scattered-thunderstorms:before {
    content: "S";
}

.icon-scattered-thunderstorms:before {
    content: "S";
}

.icon-scattered-showers:before {
    content: "M";
}

.icon-heavy-snow:before {
    content: "W";
}

.icon-scattered-snow-showers:before {
    content: "I";
}

.icon-heavy-snow:before {
    content: "W";
}

.icon-partly-cloudy:before {
    content: "a";
}

.icon-thundershowers:before {
    content: "S";
}

.icon-snow-showers:before {
    content: "U";
}

.icon-isolated-thundershowers:before {
    content: "S";
}

.weather h2 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather ul {
    margin: 0;
    padding: 0;
}

.weather li {
    background: #fff;
    background: rgba(255, 255, 255, 0.90);
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

.weather .currently {
    margin: 0 20px;
}

.coop {
    font-size: 25px;
    left: 490px;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    top: 360px;
    width: 250px;
}

.coop svg {
    height: 35px;
    width: 35px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.error {
    left: 490px;
    overflow: hidden;
    position: absolute;
    top: 380px;
    width: 250px;
}

.blocks {
    bottom: -4px;
    position: absolute;
}


.day-title {
    font-size: 26px;
    position: absolute;
    top: -35px;
    z-index: 1;
}

.commute {
    left: 50px;
    position: absolute;
    top: 10px;
}

.services {
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: right;
    font-family: 'B612 Mono', monospace;
    width: 800px;
}

.service {
    display: inline-block;
    margin-left: 20px;
}

.unit {
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
}

.electricity-range {
    font-size: 16px;
    color: #aaa;
    margin-top: 5px;
}

.destination-wrapper {
    border: 1px solid;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
}

.route-wrapper {
    margin-top: 35px;
}

.route-wrapper:first-child {
    margin-top: 0;
}

.trip-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
}

.trip-time {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    width: 95px;
}

.trip-time:nth-child(5) {
    width: 70px;
}

.trip-time:nth-child(n + 6) {
    display: none;
}

.item-wrapper {
    display: inline-block;
    height: 160px;
    margin-top: 45px;
    position: relative;
    width: 160px;
    z-index: 1;
}

.item-wrapper img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.item-wrapper .footer {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    font-weight: 500;
    left: 0;
    line-height: 1.5;
    position: absolute;
    right: 0;
    text-align: center;
    display: grid;
}

.item-wrapper .footer .title {
    overflow: hidden;
    text-overflow: ellipsis;
}

iframe,
.iframe-cursor-hider {
    border: 0;
    cursor: none;
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    width: 800px;
    height: 550px;
}